__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

venv/
env/
.venv/

.env
.env.*

.ipynb_checkpoints/
*.ipynb

data/
datasets/
saved_models/
models/*.h5
models/*.pt
models/*.pth
models/*.onnx
backend/models
backend/data
backend/backend/models/chroma_db
backend/models
*chroma_db


logs/
*.log
outputs/
results/

.DS_Store
Thumbs.db

.vscode/
.idea/

*.pid
docker-data/

*.tar.gz
*.zip


backend/services/team-documents
backend/services/team-documents