streamlit
pymongo
flask
streamlit-autorefresh
langchain
langchain-ollama
langchain-community
streamlit-drawable-canvas
transformers
datasets
peft
accelerate
bitsandbytes
hf-xet
scikit-learn
joblib
evaluate
numpy
pandas
pypdf
