joblib
numpy
pandas
scikit-learn
scipy
torch
torchaudio
torchvision
easyocr
transformers
huggingface-hub
ollama
fastapi
accelerate
langchain
langchain-core
langchain-classic
langchain-text-splitters
langchain-community
langchain-ollama
langchain-chroma
pypdf